# Ignore Python virtual environments
venv/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and database files
*.log
*.sqlite3

# Ignore local environment settings
.env
.vscode/
